.opponent {
  padding: 4px;
  display: flex;
}

.opponent-hand {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: -19px
}

.opponent-hand > .card {
  height: calc(6vh + 60px);
  margin: 0 calc(-1.5vh - 15px);
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.previous-step {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(110, 110, 110, 0.199);;
}


.opponent .position-tag {
  position: relative;
  margin-top: calc(4px + 1vh);
  height: calc(25px + 3vh);
  width: calc(25px + 3vh);
  margin-left: 4px;
  margin-right: 4px;
}

.opponent-worth {
  margin-top: calc(4px + 1vh);
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
}

.waiting {
  border: 2px solid black;
  transition: 0.5s;
}

.currently-playing {
  border: 2px solid green;
  background-color: #00800042;
  transition: 0.5s;
}

.not-playing {
  border: 2px solid black;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  opacity: 0.2;
  transition: 0.5s;
}

.all-in {
  border: 2px solid mediumpurple;
  background-color: rgba(147, 112, 216, 0.432);
  transition: 0.5s;
}