/* .opponent {
  padding: 4px;
  display: flex;
}

.opponent-hand {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: -19px
}

.opponent-hand > .card {
  height: calc(6vh + 60px);
  margin: 0 calc(-1.5vh - 15px);
}

.previous-step {
  margin-top: 10px;
}


.opponent .position-tag {
  position: relative;
  margin-top: calc(4px + 1vh);
  height: calc(25px + 3vh);
  width: calc(25px + 3vh);
  margin-left: 4px;
  margin-right: 4px;
}

.opponent-worth {
  margin-top: calc(4px + 1vh);
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
}

.waiting {
  border: 3px solid black;
}

.currently-playing {
  border: 3px solid green;
}

.not-playing {
  border: 3px solid red;
}

.all-in {
  border: 3px solid mediumpurple;
} */