/* #player {
  position: absolute;
  top: 70%;
  height: 30%;
  width: 100%;
}

#player > .position-tag {
  position: absolute;
  left: calc(56% - (30px + 4vh) / 2);
  width: calc(30px + 4vh);
}

#hand {
  position: absolute;
  top: calc(-40px + 4vh);
  width: 100%;
  display: flex;
  justify-content: center;
}

#hand > .card {
  margin: 0 calc(-2vh - 20px);
}

#balance {
  position: absolute;
  top: 65%;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
}

#buttons {
  position: absolute;
  top: 80%;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 16px;
}

.action {
  box-sizing: border-box;
  width: 80px;
  height: 24px;
  line-height: 20px;
}

#dollar-sign {
  position: absolute;
  top: calc((100% - 18px) / 2);
  left: calc(50% - 80px)
}  */