/* * {
  padding: 0;
  margin: 0;  
}

#room {
  width: 100vw;
  height: 100vh;
}

#table {
  position: absolute;
  top: calc(80px + 14vh);
  left: 20%;
  width: 60%;
  height: calc(45vh - 50px);
  border: 1px solid black;
  border-radius: 32px;
  background-color: green;
}

#start-button {
  position: absolute;
  box-sizing: border-box;
  width: 16%;
  height: calc(4vh + 16px);
  font-size: 1.5rem;
  top: 44%;
  left: 42%; 
}

#pot {
  position: absolute;
  top: 10%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 1.6rem;
}

#board {
  position: absolute;
  left: calc(50% - (5 * (8vh + 80px) * 110 / 159.75 + 4 * 32px) / 2);
  top: calc(60% - ((8vh + 80px) / 2));
  display: flex;
  gap: 32px;
}

#river {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 32px;
} */
