#status {
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 4vh;
    font-size: 2rem;
}

#lobby {
    width: 80%;
    margin: 0 auto;
    display: flex;
    border: 1px solid black;
}

#player-list {
    width: 20%;
    border: 1px solid black;
}

#settings {
    width: 80%;
    border: 1px solid black;
}

.subheader {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}