@keyframes top-left-appear {
    from {
        top: -120px;
        rotate: -25deg;
    }
    to {
        top: 150px;
        rotate: -10deg;
    }
}

@keyframes top-left-appear-back {
    from {
        top: 150px;
        rotate: -10deg;
    }
    to {
        top: -120px;
        rotate: -25deg;
    }
}

@keyframes campaign-image-2 {
    from {
        top: -120px;
        rotate: -25deg;
    }
    to {
        top: 150px;
        rotate: -10deg;
    }
}

#intro-container {
    height: 100vh;
}

#title {
    position: absolute;
    width: 100%;
    top: 20%;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    z-index: 2;
    color: black;
    pointer-events: none;
}

#link-buttons {
    width: 100%;
    height: 100%;
    display: flex;
}

.navigators {
    transition: all 0.25s;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.back-animation {
    animation: top-left-appear-back 0.75s forwards;
}

#campaign:hover {
    position: relative;
    background-color: #5965ac80;
    transform: scale(1.3);
    transition: background-color 0.25s;
    transition: transform 0.5s;
    cursor: pointer;
}


#campaign:active {
    background-color: #5965acbb;
    transform: scale(1);
    transition: all 0.25s;
}

/* Castle */
#campaign-image-1 {
    position: absolute;
    width: 100px;
    aspect-ratio: 1;
    top: -120px;
    left: 100px;
    rotate: -25deg;
    pointer-events: none;
    transition: all 1s;
}

#campaign:hover ~ #campaign-image-1 {
    /* animation: top-left-appear 0.75s normal forwards; */
    top: 150px;
    rotate: -10deg;
    transition: all 1s;
}

/* Tree */
#campaign-image-2 {
    position: absolute;
    width: 100px;
    aspect-ratio: 1;
    top: -120px;
    left: 175px;
    pointer-events: none;
    transition: all 1s;
}

#campaign:hover ~ #campaign-image-2 {
    top: 130px;
    rotate: -10deg;
    transition: all 1.25s;  
}

#quickstart:hover {
    background-color: #63ac5980;
    transform: scale(1.3);
    transition: background-color 0.25s;
    transition: transform 0.5s;
    cursor: pointer;
}

#quickstart:active {
    background-color: #63ac59b7;
    transform: scale(1);
    transition: all 0.25s;
}

#quickstart-image-1 {
    position: absolute;
    width: 100px;
    aspect-ratio: 1;
    top: -120px;    
    left: 33%;
}

#quickstart:hover + #quickstart-image-1 {
    animation: top-left-appear 5s normal forwards;
}

#multiplayer {
    transition: all 0.25s;
}

#multiplayer:hover {
    background-color: #f4433680;
    transform: scale(1.3);
    transition: background-color 0.25s;
    transition: transform 0.5s;
    cursor: pointer;
}

#multiplayer:active {
    background-color: #f44336bb;
    transform: scale(1);
    transition: all 0.25s;
}


.react-link-clickable {
    width: 100%;
    -webkit-user-drag:none;
    overflow: hidden;
}

.link-button {
    border: none;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    padding: 10px;
    transition: all 0.25s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
